@use '../../styles/variables.scss' as *;

.input {
  position: relative;
  width: 100%;

  &__field {
    background-color: $steel-gray;
    color: $sky-blue;
    width: 100%;
    min-height: 65px;
    max-height: 300px;
    border: 0;
    outline: 0;
    padding: 24px 80px 24px 60px;
    border-radius: 50px;
    box-sizing: border-box;
    font-size: 14px;
    display: block;
    overflow: auto;
    resize: none;

    &:empty::before {
      content: 'Ask something...';
      color: $sky-blue;
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    right: 35px;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
}
