//Device width
$maxWidth: 1280px;
$mediumWidth: 992px;
$tableWidth: 768px;
$mobileWidth: 576px;

//Colors
$Baby_Blue_Eyes: #a2cff4;
$Yankees_Blue: #212f3d;
$Gunmetal: #273643;
$Charcoal: #334656;
$White: #ffffff;
