//Device width
$max-content-width: 1280px;
$laptop-width: 992px;
$table-width: 768px;
$mobile-width: 576px;

//Colors
$sky-blue: #a2cff4;
$deep-navy: #212f3d;
$steel-gray: #273643;
$graphite: #334656;
$white: #ffffff;
