@use './styles/variables.scss' as *;

.chat {
  width: 100%;
  height: 100%;
  max-width: $max-content-width;
  margin: auto;
  position: relative;

  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  &__content {
    overflow-y: auto;
    padding: 20px 50px 200px;
    display: flex;
    flex-direction: column;
    gap: 40px;

    @media (max-width: $laptop-width) {
      padding-bottom: 300px;
    }

    @media (max-width: $mobile-width) {
      padding: 20px 20px 200px;
    }
  }

  &__question {
    max-width: 70%;
    align-self: flex-end;
  }

  &__answear {
    max-width: 70%;
    align-self: flex-start;
  }

  &__menu {
    max-width: $max-content-width;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 0 20px 20px;
    gap: 30px;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: $deep-navy;
  }

  &__buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    align-items: center;
    gap: 25px;

    @media (max-width: $laptop-width) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: $mobile-width) {
      display: flex;
      gap: 15px;
    }
  }
}
